# @package _global_

defaults:
  - /metrics@reported_metrics.train.lm.accumulated_loss: accumulated_loss
  - /metrics@reported_metrics.val.lm.accumulated_loss: accumulated_loss
  - /metrics@reported_metrics.test.lm.accumulated_loss: accumulated_loss
  - /metrics@reported_metrics.val.prediction.exact_match: seq2seq_exact_match
  - /metrics@reported_metrics.test.prediction.exact_match: seq2seq_exact_match
  - /metrics@reported_metrics.val.prediction.token_accuracy: seq2seq_token_accuracy
  - /metrics@reported_metrics.test.prediction.token_accuracy: seq2seq_token_accuracy

lightning_module:
  _target_: lflexmdm.harness_lflexmdm.FlexMDMVariationalHarness

loss:
  _target_: lflexmdm.loss_flexmdm_kuma.LFlexMDMLoss
  noise_schedule: ${global_components:noise_schedule}
  tokenizer: ${global_components:tokenizer}
  max_length: ${eval:${block_size}+${oc.select:input_block_size,0}}

predictor:
  _target_: lflexmdm.predictor_tau_leaping.TauLeapingPredictor
  tokenizer: ${global_components:tokenizer}
  noise_schedule: ${global_components:noise_schedule}
  max_steps: ${block_size}
  max_new_tokens: null
  top_k: 1
  top_p: null

diagnostic_metrics:
  train:
    lm:
      unmask_loss:
        _target_: xlm.metrics.MetricWrapper
        name: unmask_loss
        metric: 
          _target_: torchmetrics.MeanMetric
        prefix: train/lm
        update_fn: lflexmdm.metrics_flexmdm.mean_unmask_loss_update_fn
      insertion_loss:
        _target_: xlm.metrics.MetricWrapper
        name: insertion_loss
        metric: 
          _target_: torchmetrics.MeanMetric
        prefix: train/lm
        update_fn: lflexmdm.metrics_flexmdm.mean_insertion_loss_update_fn
      reg_loss:
        _target_: xlm.metrics.MetricWrapper
        name: reg_loss
        metric: 
          _target_: torchmetrics.MeanMetric
        prefix: train/lm
        update_fn: lflexmdm.metrics_flexmdm.mean_reg_loss_update_fn
  val:
    lm:
      unmask_loss:
        _target_: xlm.metrics.MetricWrapper
        name: unmask_loss
        metric: 
          _target_: torchmetrics.MeanMetric
        prefix: val/lm
        update_fn: lflexmdm.metrics_flexmdm.mean_unmask_loss_update_fn
      insertion_loss:
        _target_: xlm.metrics.MetricWrapper
        name: insertion_loss
        metric: 
          _target_: torchmetrics.MeanMetric
        prefix: val/lm
        update_fn: lflexmdm.metrics_flexmdm.mean_insertion_loss_update_fn
      reg_loss:
        _target_: xlm.metrics.MetricWrapper
        name: reg_loss
        metric: 
          _target_: torchmetrics.MeanMetric
        prefix: val/lm
        update_fn: lflexmdm.metrics_flexmdm.mean_reg_loss_update_fn
reported_metrics:
  train:
    lm:
      accumulated_loss:
        prefix: train/lm
        update_fn: lflexmdm.metrics_flexmdm.mean_metric_update_fn
  val:
    lm:
      accumulated_loss:
        prefix: val/lm
        update_fn: lflexmdm.metrics_flexmdm.mean_metric_update_fn
    prediction:
      exact_match:
        prefix: val/prediction
        update_fn: lflexmdm.metrics_flexmdm.seq2seq_exact_match_update_fn
      token_accuracy:
        prefix: val/prediction
        update_fn: lflexmdm.metrics_flexmdm.seq2seq_token_accuracy_update_fn
  test:
    lm:
      accumulated_loss:
        prefix: test/lm
        update_fn: lflexmdm.metrics_flexmdm.mean_metric_update_fn
    prediction:
      exact_match:
        prefix: test/prediction
        update_fn: lflexmdm.metrics_flexmdm.seq2seq_exact_match_update_fn
      token_accuracy:
        prefix: test/prediction
        update_fn: lflexmdm.metrics_flexmdm.seq2seq_token_accuracy_update_fn

tags:
  model_type: lflexmdm_seq2seq
